---
import { sospesoRepo } from "@/actions/actions.ts";
import { SospesoCardList } from "@/components/SospesoCardList";
import { SospesoFilter } from "@/components/SospesoFilter";
import { SospesoList } from "@/components/SospesoList.tsx";
import Layout from "@/layouts/Layout.astro";
import { Link } from "@/routing/Link.tsx";
import { parseRouteParamsFromUrl } from "@/routing/parseRouteParams.ts";
import { SospesoLogo } from "@/shared/icons/SospesoLogo";
import { Pagination } from "@/shared/Pagination.tsx";

const params = parseRouteParamsFromUrl("홈", new URL(Astro.url));
const page = Math.max(params.page ?? 1, 1);

const { sospesoList, totalPage } = await sospesoRepo.retrieveSospesoList({
  page,
  status: params.status,
});

if (!sospesoList) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---

<Layout title="코칭 소스페소">
  {
    page === 1 && (
      <div class="hero bg-base-200 py-16">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-page-title mb-12">
              <SospesoLogo aria-label="코칭 소스페소" className="w-full" />
            </h1>
            <p class="mb-4">
              소스페소는 맡겨둔 커피라는 뜻의 이탈리아어입니다. 커피값을 누군가
              먼저 계산해두고 영수증을 걸어두면, 조건에 맞는 누구나 그 커피를
              마실 수 있습니다. 경제적 여유가 없는 노인, 노숙자 등등...
            </p>
            <p>
              코칭 소스페소도 비슷합니다. 도움을 받을 경제적 여력이 없는 사회
              초년생이나 취약 계층을 위해 누군가 코칭비를 미리 지불하면. 조건에
              맞는 사람이라면 누구나 코칭을 받고 도움을 받을 수 있습니다.
            </p>

            <Link
              className="btn btn-primary mt-16"
              routeKey="소스페소-발행"
              params={undefined}
            >
              소스페소 발행하러 가기
            </Link>
          </div>
        </div>
      </div>
    )
  }

  <section
    class="mx-auto max-w-3xl flex-col items-center gap-4 mobile:flex hidden"
  >
    <SospesoFilter currentStatus={params.status} />
    <SospesoList sospesoList={sospesoList} />
    <Pagination
      routeKey="홈"
      params={{ status: params.status }}
      current={page}
      end={totalPage}
    />
  </section>

  <section class="mx-auto max-w-3xl flex-col items-center gap-4 mobile:hidden">
    <SospesoCardList sospesoList={sospesoList} />
  </section>
</Layout>
