---
import { TopNavigation } from "@/components/TopNavigation.tsx";
import { ViewTransitions } from "astro:transitions";
import { ToastifyToastContainer } from "@/adapters/toastApi.tsx";
import "../index.css";
import "react-toastify/dist/ReactToastify.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html data-theme="lofi" lang="ko-kr">
  <head>
    <meta charset="UTF-8" />
    <meta content="Astro description" name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>{title}</title>
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content="/og.png" />
    <meta
      property="og:image:alt"
      content="코칭 소스페소 라고 적힌 로고. Sospeso 의 동그란 o 를 커피콩 모양으로 그리고, S는 커피 주전자를 닮았다"
    />
    {description && <meta property="og:description" content={description} />}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    {description && <meta name="twitter:description" content={description} />}
    <meta name="twitter:image" content="/og.png" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <script
      is:inline
      defer
      src="https://umami.life-lifter.com/script.js"
      data-website-id="fb529fdb-c507-417a-ac37-9bef2965f7cc"></script>
    <ViewTransitions />
  </head>
  <body class="bg-base-200 min-h-screen pb-8">
    <TopNavigation client:load transition:persist />
    <slot />
    <ToastifyToastContainer
      client:load
      closeOnClick
      autoClose={5000}
      hideProgressBar={true}
      closeButton={false}
      theme=""
    />
  </body>
</html>
